body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;  
}

#header-signup{
    width:100%;
    background-color: rgb(255, 128, 64);
    text-align:center;
    font-size: 20px;
    color:white;
    padding-top: 5pt;
}
#header-signup a{
    color: #000;
    font-size: 12pt;
    text-decoration: underline;
}
#header-signup a:hover{
  font-weight: bolder;
}
#header-img{
    width:100vw;
    height:650px;
    background-image: url(uploads/bg.png)!important;
    background-attachment:local;
    background-position:top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginbtn {
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 16pt;
    text-align: center;
    margin-right: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
.loginbtn:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    font-weight: bolder;
}
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    top:30%;
    left:25%;
    bottom: 0;
    border: 3px solid #f1f1f1;
    width: 250px;
    height: fit-content;
    align-items: center;
    box-shadow: #000 10px;
  }
  /* Add styles to the form container */
  .form-container {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
  }
  /* Set a style for the submit/login button */
.ownerbtn {
  bottom: 12px;
  border: 1px solid rgb(255, 128, 64);
  cursor: pointer;
  right: 100px;
  border-radius: 3px;
  background-color: white;
  color: rgb(255, 128, 64);
  padding: 8px 8px;
  font-size: 14px;
}
.ownerbtn:hover{
  background: rgb(255, 128, 64);
  color: white;
  transition: .1s;
}
.customerbtn{
  bottom: 12px;
  border: 1px solid rgb(255, 128, 64);
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  color: rgb(255, 128, 64);
  padding: 8px 8px;
  font-size: 14px;
}
.customerbtn:hover{
  background: rgb(255, 128, 64);
  color: white;
  transition: .1s;
}
.nav-menu{
  padding-top: 10px;
  margin-right: 20pt;
  text-align: right;
  height:60px;   
}
.nav-menu a{
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 18pt;
    text-align: center;
    padding-right: 10px;
}


@media only screen and (max-width : 768px) {
    .locations-div{
        margin-bottom: 0;
    }
    .container select {
      margin-right: 12px;
    }
    .logo {
      margin-right:60px;
    }
    #second-section .container {
      text-align: center;
      position: relative;
    }
    .form-popup {
      align-self: center;
      left:10%;
    }
    select div {
      width:100% !important;
    }
    
}