body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;  
}
/*
#header-signup{
    width:100%;
    background-color: rgb(255, 128, 64);
    text-align:center;
    font-size: 20px;
    color:white;
   
}
#header-signup a{
    color: #000;
    font-size: 12pt;
    text-decoration: underline;
}
#header-signup a:hover{
  font-weight: bolder;
}
#header-img{
    width:100vw;
    height:100vw;
    background-image: url(uploads/bg.png)!important;
    background-attachment:local;
    background-position:top center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    top:30%;
    left:25%;
    bottom: 0;
    border: 3px solid #f1f1f1;
    width: 250px;
    height: fit-content;
    align-items: center;
    box-shadow: #000 10px;
  }
  /* Add styles to the form container */
  .form-container {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
  }
  /* Set a style for the submit/login button */
@media only screen and (max-width : 768px) {
    .locations-div{
        margin-bottom: 0;
    }
    .container select {
      margin-right: 12px;
    }
    .logo {
      margin-right:60px;
    }
    #second-section .container {
      text-align: center;
      position: relative;
    }
    .form-popup {
      align-self: center;
      left:10%;
    }
    select div {
      width:100% !important;
    }
    
}