body{
    background: url(uploads/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    height: 672px;
    background: transparent;
}
form {
    background-color: rgb(255, 128, 64);
    border-style: solid;
    border-color: rgb(255, 128, 64);
    border-radius: 20px;
}