body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url(uploads/bg.png);
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
header {
    text-align: center;
}
header:hover {
    cursor: pointer;
}
/* box background*/
.container{
    position:absolute;
    left: 30%;
    text-align: center;
    width: 40vw;
    justify-content: center;
    background-color: rgb(255, 128, 64);
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;
}
/*text inside the white box*/
.container p{
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
}
/* all containers to be aligned*/
.column {
    text-align: center;
    margin-bottom: 30px;
}
.input{
    width:300px;
    height:50px;
    background-color: white;
    border:solid;
    padding-left: 20px;
    font-size: 12px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.upload {
    width:300px;
    height:50px;
    background-color: white;
    border:solid;
    padding-left: 20px;
    font-size: 12px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    margin-left:110px;
}
.reg-btn{
    color:white;
    margin-top: 10px;   
    width:190px;
    height:50px;
    background-color: rgb(59, 58, 58);
    border:solid;
    padding-left: 10px;
    font-size: 12px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.reg-btn:hover{
    cursor:pointer;
    background-color:black;
}
.container a{
    font-size: 13pt;
    color: black;
}
.container a:hover{
    cursor:pointer;
}
@media only screen and (max-width : 768px) {
    header {
        text-align: center;
    }    
    .container {
        text-align: center;
        align-content: center;
        left:12%;
        width: 300px;
        margin-bottom: 20px;
    }
    .container p{
        font-size: 20pt;
    }
    .input{
        width: 200px;
    }
    .upload {
        margin-left:38px ;
        width:200px;
    }
}