body {
    font-family: Monsterrat!important;
}
.scroll-to-top:hover {
    background-color: rgb(226,96,31)!important;
    color: #fff;
}
.back {
    text-decoration: underline!important;
    color:darkgrey;
    padding-right: 10px;
}
.back:hover, .back:focus {
    font-weight: bolder;
    color: inherit;
    box-shadow: none!important;
}
.btn-primary {
    color:white;
    background-color: rgb(255,128,64)!important;
    border:none;
}

.btn-primary:hover {
    color:white;
    background-color: rgb(226, 96, 31)!important;
    border:none;
    box-shadow:none!important;
}
.update-btn {
    color:white;
    background-color: rgb(0, 152, 212)!important;
    border:none;
}
.update-btn:hover {
    color:white;
    background-color:rgb(17, 17, 255)!important;
    border:none;
    box-shadow:none!important;
}
.edit-btn {
    padding:10px 13px!important;
    overflow: hidden;
}
.save-btn {
    color:white;
    background-color: rgb(11, 194, 11)!important;
    border:none;
}
.save-btn:hover {
    color:white;
    background-color:darkgreen!important;
    border:none;
    box-shadow:none!important;
}
.btn-danger {
    color:white;
    background-color: rgb(247, 58, 58)!important;
    border:rgb(247, 58, 58) 1px solid !important;
}
.btn-danger:hover {
    color:white;
    background-color:rgb(223, 13, 13)!important;
    border:rgb(223, 13, 13) 1px solid !important;
    box-shadow:none!important;
}
.form-check {
    margin:5px 10px;
}
.form-label {
    font-size: 17px!important;
    font-weight: 600;
}
label {
    color: black;
    font-weight:normal;
    margin: 3px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px!important;
}
input ,.form-control, .form-select {
    font-size: 16px!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
table {
    color: black!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
    font-size: 30px!important;
}
input:focus, textarea:focus, select:focus, option:focus {
    box-shadow:none!important;
}
iframe {
    max-width: 100%!important;
    height:500px!important;
    width: 1200px!important;
}
.text-primary {
    color:rgb(255,128,64)!important;
}
.back {
    color: black;
}
.back:hover ,.back:focus {
    font-weight: bolder;
    color: initial;
    text-decoration: underline!important;
}
h4 {
    font-weight: bolder;
    padding-left: 5px;
    padding-top: 10px;
    line-height: 1!important;
    margin-bottom: 30px!important;
}
.card {
    margin-bottom: 50px;
}
.card-header {
    margin-bottom:0px!important;
    padding-bottom: 0%!important;
    font-size: 20px;
    font-weight: lighter!important;
}
.card-header h6 {
    color: rgb(19, 19, 19)!important;
    font-size: 20px;
}
td ,option, .info p{
    font-size: 14px!important;
    line-height: 1;
}
.info {
    border-right: solid 1px rgb(197, 197, 197);
}
/*FOR INDEX */
h6 {
    font-weight:bolder;
}
.first-tab {
    color:rgb(11, 194, 11)!important ;
}
.second-tab {
    color: rgb(0, 152, 212)!important;
}
.third-tab {
    color: grey!important;
}
.fourth-tab {
    color: rgb(255, 128, 64)!important;
}

/*FOR SIDEBAR*/
#accordionSidebar a, #accordionSidebar i {
    color: #fff;
}
#accordionSidebar .nav-link.active, #accordionSidebar .nav-link:hover{
    color: rgb(255,128,64);
    background-color: #ffff;
    font-weight: bold;
    border-radius: 30px;
    margin: 1px 0px;
}
.sidebar-brand-text {
    font-size: 30px ;
}
.dropdown-menu a {
    margin-left: 0;
    padding-left: 7px;
}
table {
    color: black!important;
}

@media (max-width:500px) {
    .menu {
        text-align: center;
        
    }
    .menu img {
        display: inline-block;
    }
    .links .btn .label {
        display: none;
    }
    .menubtn .btn .label {
        display: none;
    }
    .menubtn .btn {
        width:40px;
    }   
    .container-fluid h3 {
        font-size:30px!important;
        font-weight: bold;
    }
    .container-fluid h3 {
        font-size:20px!important;
        margin: 3px 30px;
    }
    
}
.descrip {
    color:rgb(0, 0, 0);
    padding:0;
    margin:10px 10px;
}
.status {
    color:rgb(255, 128, 64);
}
.fa-bell {
    color: gold;
} 
