
  .text {
    font-size: 24px;
  }

  .text.show-more .moreText {
    display: inline;
  }
  .text.show-more .dots {
    display: none;
  }
  .descript {
    height:15vh;
    padding:0px 2px;
    margin: 5px 0px ;
  }
  .descript p {
    height:100px;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
  }
  hr {
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
   width:10px; 
  }
    /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
