
  .text {
    font-size: 24px;
  }
  .moreText {
    display: none;
  }

  .text.show-more .moreText {
    display: inline;
  }
  .text.show-more .dots {
    display: none;
  }
  .descript {
    height:17vh;
    padding-top:0;
    margin: 5px 0px ;
  }
  .descript p {
    height:100px;
    text-align: justify;
    overflow: hidden;
    overflow-y: scroll;
  }
  /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
