
.form-content {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.form-content label {
	display: inline-block;
	font-size:14px;
}

.form-content input {
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 5px;
	width: 100%;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 767px) and (max-width: 1023px) {

}

.form-content input:focus {
	outline: 0;
	border-color: #777;
}

.form-content.success input {
	border-color: #2ecc71;
}

.form-content.error input {
	border-color: #e74c3c;
}

.form-content i {
    visibility:hidden;
	position: absolute;
	top: 37px;
	right: 20px;
}

.form-content.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-content.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-content small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 15px;
	visibility: hidden;
}

.form-content.error small {
	visibility: visible;
    color: #e74c3c;
}
form p {
    text-align: center;
	padding-top: 10px;
}
.form button {
	background-color: rgb(255, 128, 64);
	border:none;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin:auto;
	width: 100%;
}
.form button:hover, .form button:active, .form button:focus {
    background-color: rgb(243, 136, 83);
    cursor: pointer;
}

/* Style all input fields */
.password input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #newpassValidation {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    font-size: 12px;
  }
  
  #newpassValidation p {
    margin: 0;
    padding:0px 10px;
    text-align: start;
    font-size: 11px;
  }
  #newpassValidation h3 {
	font-size: 12px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
  }



