.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px!important;
    font-family:'Segoe UI'!important;
    text-align: left!important;
    font-weight: 600!important;
  }
  .logo {
    width: 70px;
    height: 70px;
    margin-top: 15px!important;
  }
  hr {
    padding:0px!important;
    margin:0 0 5 0 !important;
  }
  .form-control {
    font-family:monospace!important;
    font-size: smaller!important;
  }
  .form-label {
    font-family:monospace!important;
    font-weight: 600!important;
    font-size: 16px!important;
    margin-bottom: 1px!important;
    padding-left: 5px;
    margin-top: 5px;
    text-align: left!important;
  }
  .text-muted {
    padding-top:5px!important; 
    padding-left:2px;
  }
  .text-muted:hover {
    color:inherit!important;
    font-weight: bolder!important;
  }
  .btn-group .active  {
    font-family:monospace!important;
    background-color: rgb(255,128,64);
    border: none;
    color: white;
  }
  .btn-group .active:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  .btn-group .unactive {
    background: transparent;
    font-family:monospace!important;
    color: gray;
    border-style: solid;
    border-color: rgb(255, 128, 64);
  }
  .btn-group .unactive:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  p a {
    color: rgb(95, 95, 95)!important;
    text-decoration: none;
    font-weight: bold;
    font-family:monospace!important;    
  }
  p a:hover {
    color:inherit!important;
    font-weight: bolder!important;
  }
  p {
    font-family:monospace!important;
    margin-top: 10px;
    text-align: center;
  }
  .mb-3 .btn-primary {
    width: 100%!important;
    font-family:monospace!important;
    background-color: rgb(255,128,64);
    border: none;
  }
  .mb-3 .btn-primary:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }

  .containe,  .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 55%;
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-color: rgb(255,128,64)!important;
    border: solid 2px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 10px !important;
  }
  
  .containe a {
    color: rgb(95, 95, 95)!important;
    text-decoration: underline;
    font-weight: bold;
    font-family:monospace!important;
  }
  
  .containe a:hover {
    color:inherit!important;
    font-weight: bolder!important;
  }
  .containe.btn:active +.containe .btn:focus {
    box-shadow: none !important;
  }
  .containe .btn {
    width: 100%!important;
    margin-top: 20px;
    font-family:monospace!important;
    background-color: rgb(255,128,64);
    border: none;
  }

  .containe.btn-check:checked + .containe.btn, .containe.btn-check:active + .containe.btn, .containe.btn:active, .containe.btn.active, .containe.btn.show {
    color: white;
    background-color: rgb(255,128,64);
    border-color: rgb(255,128,64);
  }
  .containe .btn:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  .col .form-check {
    font-weight: lighter!important;
    font-family:monospace!important;
 
  }
  .form-select {
    font-weight: lighter!important;
    font-family:monospace!important;
  }
  option {
    font-weight: lighter!important;
    font-family:monospace!important;
  }
  option:hover {
    background-color: rgb(255,128,64)!important;
  }
  
  
  