.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px!important;
    font-family:'Segoe UI'!important;
    text-align: left!important;
    font-weight: 600!important;
  }
  .logo {
    width: 70px;
    height: 70px;
    margin-top: 15px!important;
  }
  hr {
    padding:0px!important;
    margin:0 0 5 0 !important;
  }
  .form-control {
    font-family:monospace!important;
    font-size: smaller!important;
  }
  .form-label {
    font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 14px!important;
    margin-bottom: 1px!important;
    padding-left: 5px;
    margin-top: 5px;
    text-align: left!important;
  }
  .login .far {
    display:inline-block;
    --bs-body-line-height:1;
    margin-right:7%;
    color:rgb(255,128,64);
    font-size:large;
  }
  .login .far:hover {
    cursor:pointer;
  }
  .login .forget {
    display: flex;
    justify-content:end;
    text-decoration: none!important;
    margin-bottom: 10px;
    color: rgb(95, 95, 95)!important;
    font-weight: bold;
    font-size: 14px;
    font-family:'Lato'!important; 
  }
  .login .forget:hover {
    font-weight:bolder!important;
    color:var(--bs-dark)!important;
    text-decoration:underline!important;
  }
  .login .inputs {
    display:flex ;
    text-align: left;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    justify-content:end ;
  }
  .login {
    max-width: 100%;
  }
  .inputs .form-control {
    text-align: left;
    border-style: none;
    padding-left: 10px;
    box-shadow: none;
    font-family:Monsterrat!important;
  }
  .inputs i {
    height: 28px;
    width: 15px;
    opacity: 0.85;
    padding-bottom: 2px;
    padding-left: 5px;
  }
 .login .card-body {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px 15px var(--bs-gray);
  display: flex;
  align-items: center;
 }
  .bs-icon-xl {
    height:110px; 
    width:110px;
    border-style: solid;
    border-color: rgb(255, 128, 64);
    background: white!important;
  }
  .btn-group {
    margin-bottom: 30px;
    box-shadow: none;
    display: flex;
  }
  .btn-group .active  {
    font-family:'Lato'!important;
    font-weight:lighter;
    background-color: rgb(255,128,64);
    border: none;
    color: white;
  }
  .btn-group .active:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  .btn-group .unactive {
    background-color: transparent;
    font-weight:lighter;
    font-family:'Lato'!important;
    color: gray;
    border-style: solid;
    border-color: rgb(255, 128, 64);
  }
  .btn-group .unactive:hover {
    color: rgb(255,128,64);
    background-color: transparent!important;
    border-color: rgb(226, 96, 31)!important;
  }
  .btn-group .unactive:focus {
    color: rgb(255,128,64);
    background-color: transparent!important;
    border-color: rgb(226, 96, 31)!important;
    box-shadow:none;
  }
  .login a {
    color: rgb(95, 95, 95)!important;
    text-decoration: underline;
    font-weight: bold;
    font-family:'Lato'!important; 
  }
  .login a:hover {
    color:inherit!important;
    font-weight: bolder!important;
  }
  p {
    font-family:'Lato'!important;
    margin-top: 10px;
    text-align: center;
    font-size:14px;
    padding-top: 10px !important;
  }
  .mb-1 .btn-primary {
    width: 100%!important;
    font-family:'Lato'!important;
    background-color: rgb(255,128,64);
    border: none;
    border-radius:30px;
  }
  .mb-1 .btn-primary:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  .mb-2 .btn-primary {
    width: 30%!important;
    font-family:'Lato'!important;
    background-color: rgb(255,128,64);
    border: none;
    float: right;
  }
  .mb-2 .btn-primary:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }

  .containe,  .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 70%;
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 0px 0px 15px var(--bs-gray)!important;
    border: none;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 20px !important;
    padding-bottom: 10px !important;
  }
  
  .containe a {
    color: rgb(95, 95, 95)!important;
    text-decoration: underline;
    font-weight: bold;
    font-family:Monsterrat!important;
  }
  
  .containe a:hover {
    color:inherit!important;
    font-weight: bolder!important;
  }
  .containe.btn:active +.containe .btn:focus {
    box-shadow: none !important;
  }
  .containe .btn {
    width: 100%!important;
    margin-top: 20px;
    font-family:'Lato'!important;
    background-color: rgb(255,128,64);
    border: none;
    border-radius:30px;
  }

  .containe.btn-check:checked + .containe.btn, .containe.btn-check:active + .containe.btn, .containe.btn:active, .containe.btn.active, .containe.btn.show {
    color: white;
    background-color: rgb(255,128,64);
    border-color: rgb(255,128,64);
  }
  .containe .btn:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  .col .form-check,  .form-select ,  option {
    font-weight: lighter!important;
    font-family:'Lato'!important;
    font-size:smaller;
 
  }
  .profile .text-primary {
    --bs-text-opacity: 1;
    color: rgb(255,128,64)!important;
    text-align: left!important;
  }
  .profile .btn-primary {
    font-family:Monsterrat!important;
    background-color: rgb(255,128,64);
    border: none;

  }
  .profile .btn-primary:hover {
    color: white;
    background-color: rgb(226, 96, 31)!important;
    border-color: rgb(226, 96, 31)!important;
  }
  
 

  