  /* The popup form - hidden by default */
  *{
    font-family: 'Tiro Kannada', serif;
  }

  a{
    text-decoration: none;
  }
  .form-popup {
    display: none;
    position:absolute;
    z-index:2;
    top:10%;
    left:40%;
    bottom: 0;
    width: 300px;
    height: fit-content;
    align-items: center;
    border: 3px solid rgb(255, 128, 64);
    border-radius: 10px;
  }
  /* Add styles to the form container */
  .form-container {
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    box-shadow: #000 20px;
    border-radius: 10px;
  }
  .form-container h3 {
      font-size: 18px;
      font-weight: bold;
      color:rgb(0, 0, 0);
      margin-top: 10px;
  }
  .form-container .input {
      border-top: none;
      border-left: none;
      border-right: none;
      padding:10px;
  }
  .form-container .input::after {
      border: none;
      margin-top: 10px;
  }
  .form-container select {
      border: none;
  }
  .form-container .cancel {
    color: black;
  }
  .form-container .cancel:hover{
    text-decoration: underline 2px rgb(255, 128, 64);
    font-weight: bolder;
    cursor:pointer;
  }
  .busi_reg-btn {
      background-color: rgb(255, 128, 64);
      border-radius: 5px;
      color: white;
      margin-top: 10px;
      border: none;
  }
  @media only screen and (max-width : 768px) {
    #addbtn{
        display:flex;
    }
}