body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url(images/bg.png);
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-align: center;
    padding-bottom: 0%;
}
header:hover {
    cursor: pointer;
}
/*white box background*/
.container {
    text-align: center;
    width: 40vw;
    justify-content: center;
    background-color: rgb(255, 128, 64);
    margin-left: 30vw;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;
}
/*text inside the container*/
.container p{
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
}
/*username and password container to be aligned*/
.row {
    text-align: center;
    margin-bottom: 30px;
    justify-content: stretch;
}
.username-box{
    width:300px;
    height:50px;
    background-color: white;
    border:solid;
    padding-left: 20px;
    font-size: 12px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.password-box{
    width:300px;
    height:50px;
    background-color: white;
    border:solid;
    padding-left: 20px;
    font-size: 12px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.login-btn{
    color:white;
    width:190px;
    height:50px;
    background-color: rgb(59, 58, 58);
    border:solid;
    padding-left: 10px;
    font-size: 12px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.login-btn:hover{
    cursor:pointer;
    background-color:black;
}
.container a{
    font-size: 12pt;
    color: black;
}
.container a:hover{
    cursor:pointer;
}
.error{
    width:80%;
    margin: 0px 20px 20px 55px;
    padding-top: 20px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
}
.success {
    color: #3c763d;
    background:#dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
@media only screen and (max-width : 350px) {
    .column{
        text-align: center;
    }
}
